<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-xs-1"></div>
    <div class="col-xs-9">
      <h4 class="p-3 mb-2 bg-light text-dark">会員一覧</h4>
  <table class="table order-table">
    <thead class="table-secondary">
      <tr>
        <th class="active col-xs-4">会員ID</th>
        <th class="active col-xs-4">氏名</th>
        <th class="active col-xs-4">メールアドレス</th>
        <th class="active col-xs-4">ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.last_name, admin_customer_path(customer.id) %><%= link_to customer.first_name, admin_customer_path(customer.id) %></td>
        <td><%= customer.email %></td>
          <% if customer.is_deleted == false %>
            <td>有効</td>
          <% else %>
            <td>退会</td>
          <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @customers %>
</div>
</div>
</div>