<div class="container">
  <div class="row justify-content-md-center">
     <div class="col-10">
      <h4 class="bg-light text-dark">注文履歴一覧</h4>

<div>
  <table class="table table-bordered">
    <thead class="table-secondary">
    <tr>
      <th>注文日</th>
      <th>配送先</th>
      <th>注文商品</th>
      <th>支払い金額</th>
      <th>注文詳細</th>
    </tr>
    </thead>
    <% @orders.each do |order| %>
    <tbody>
      <tr>
        <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= order.address %></td>
        <td>
          <% order.order_items.each do |order_item| %>
          <%= order_item.item.name %>
          <% end %>
          </td>
        <td><%= order.payment %>円</td>
        <td><%= link_to "表示する", order_path(order.id),class: "btn btn-primary btn-sm" %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <%= paginate @orders %>
</div>
</div>
</div>
</div>