<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-xs-1"></div>
    <div class="col-xs-9">
      <h4 class="p-3 mb-2 bg-light text-dark">商品一覧</h4>
  
  <% @items.each do |item| %>
  <div class="row" style="width: 18rem;">
  <table class="col">
  <thead>
    <tr>
    <td>
      <%= link_to item_path(item.id) do %>
      <%= image_tag item.image %>
      <% end %>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr>
     <td><%= link_to item.name, item_path(item.id) %></td>
  </tr>
  <tr>
    <td>¥<%= item.price %></td>
  </tr>
  </tbody>
</table>
<%= paginate @items %>
  <% end %>
</div>