<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-10">
      <h4 style="display:inline">商品一覧</h4>
      <h7>(全<%= @items.count %>件)</h7>
  
  <div class="row">
  <% @items.each do |item| %>
  <table class="col-3">
  <thead>
    <tr>
    <td>
      <%= link_to item_path(item.id) do %>
      <%= image_tag item.get_image(200, 200) %>
      <% end %>
    </td>
  </tr>
  </thead>
  <tbody>
  <tr>
     <td><%= link_to item.name, item_path(item.id) %></td>
  </tr>
  <tr>
    <td>¥<%= item.price %></td>
  </tr>
  </tbody>
</table>
<%= paginate @items %>
  <% end %>
</div>