<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-3">
  <%= image_tag @item.get_image(200,200) %>
  </div>
  <div class="col-md-6">
     <%= form_with model: @cart_item, url: cart_items_path , method: :post do |f| %>
<table>
  <tr>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <td><%= @item.introduction %></td>
  </tr>
  <tr>
    <td>¥<%= @item.add_tax_price.to_s(:dalimited) %><h10>(税込)</h10></td>
  </tr>
  <tr>
    <th>数量を選択してください</th>

    <td>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.select :amount , *[1..10] %>
    <%= f.submit 'カートに入れる', class: "btn-sm btn-primary" %>
    </td>

   
  </tr>
</table>
<% end %>
</div>
</div>
</div>


